.Main {
  display: flex;
  align-self: center;
  justify-content: center;
}

.innerMain h3{
  display: block;
  text-align: start;
  font-size: 1rem;
  margin-inline-end: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family:'Courier New', Courier, monospace;
  margin: 5px;
  color: #777777;

}
.innerMain label{
  display: block;
  text-align: start;
  font-size: 1rem;
  margin-inline-end: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family:'Courier New', Courier, monospace;
  margin: 5px;
  color: #777777;



}

.innerMain input{
  font-weight: 500;
  font-family:'Courier New', Courier, monospace;
  width: 100%;
  min-width: 0px;
  border-width: 1px;
  border-radius: 0.375rem;
  height: 2.5rem;
  padding-inline-start: 1rem;
  border-color: lightgrey;
  border-style: solid;

}

.innerMain input:focus-visible {
  z-index: 1;
    border-color: rgb(49, 130, 206);
    box-shadow: rgb(49 130 206) 0px 0px 0px 1px;

}



.proceed {
  display: inline;
  align-self: center;
  justify-content: center;
  border-radius: 0.37rem;
  color: white;
  font-weight: 600;
  height: 2.5rem;
  font-size: 1rem;
  font-family: 'Ruda', sans-serif;
  background: #3498db;
  border: none;
  margin-top: 10px;
}